@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;
  @apply bg-blend-darken bg-gradient-to-tl from-blue-200 dark:from-[#03045e] via-teal-50 dark:via-[#111] to-white dark:to-[#000] bg-fixed bg-no-repeat bg-cover
}

.card-gradient {
  @apply bg-gradient-to-t from-[#FFFBFE] to-white
}

.card-text-gradient {
  @apply bg-gradient-to-r from-black dark:from-[#fffbfe] dark:to-[#ffffff] to-[#03045E] text-transparent bg-clip-text
}

.dark-blue-gradient {
  @apply bg-gradient-to-r from-[#0a369d] to-pacificblue-100 text-transparent bg-clip-text
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

@media (prefers-dark-scheme:dark) {
  .animate-shimmer {
    background: linear-gradient(to right, #1a1a1a 4%, #2a2a2a 25%, #1a1a1a 36%);
    background-size: 1000px 100%;
    animation: shimmer 1.5s infinite linear;
  }
}

.animate-shimmer {
  background: linear-gradient(to right, #f0f0f0 4%, #e0e0e0 25%, #f0f0f0 36%);
  background-size: 1000px 100%;
  animation: shimmer 2.5s infinite linear;
}
